#Title{
    font-size: 40px;
    color: #96501DFF;
    font-weight: bold;
    align-items: left;
}

#Author{
    font-size: 25px;
    color: #96501DFF;
    font-weight: lighter;
    align-items: left;

}

#Description{
    font-size: 20px;
    color: #b45f06FF;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: left;

}

.rightAlign {
    margin-right: 220px;
    width: 70%; 
    margin-bottom: 0;
    margin-top: 85px;

}
