body{
    font-family: Georgia, serif;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.SignIn{
    background-image: url('https://i.pinimg.com/736x/0a/ac/5b/0aac5bbebe4d8e574a79c90557081e92.jpg');

}
.SignUp{
    background-image: url('https://i.pinimg.com/736x/0a/ac/5b/0aac5bbebe4d8e574a79c90557081e92.jpg');
}
.bodySecond {
    font-family: Georgia, serif;
    background-color: #f5f5dc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

#box {
    box-shadow: 0 8px 20px rgba(139, 69, 19, 0.6);
    background: rgba(150, 79, 29, 0.9);
    padding: 40px;
    width: 900px;
    height: auto;
    border-radius: 13px;
    border: 1px solid rgba(210, 180, 140, 0.3);
    text-align: left;
    backdrop-filter: blur(5px);
    margin-top: 30px;
}

label {
    color: beige ;
    display: block;
    margin-bottom: 5px;
}
p{
    color: #f5f5dc;
    text-align: left;
    margin-bottom: 5px;
}

input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.button-light {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: #f5f5dc;
    color: #96501d;
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.button-dark {
    width: 80%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: #96501d; /* Brown */
    color: #f5f5dc; /* Beige */
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
button:hover , input.button-light:hover {
    background: #e8e8d0;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
h1,h2,h3{
    text-align: center;
    letter-spacing: 2px;
}

h1 {
    color: #f5f5dc;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

h2 {
    color: #96501DFF;
    font-size: 35px;
    margin-bottom: 10px;
}

h3{
    color: #96501DFF;
    font-size: 20px;
    margin-bottom: 10px;
}

h4 {
    color: rgba(245, 245, 220, 0.9);
    text-align: center;
    margin: 0 0 25px 0;
    font-weight: normal;
    font-style: italic;
}
select {
    width: 97%;
    padding: 10px;
    border: 2px solid #96501d;
    border-radius: 8px;
    background-color: white;
    color: #96501d;
    font-size: 16px;
    cursor: pointer;
}


select:hover {
    background-color: beige;
}

select:focus {
    outline: none;
    border-color: #b45f06;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding-right: 100px;
}
.imgAlign {
    width: 80%;
    margin-top: 90px;
    margin-left: auto;
    margin-right: 20px;
}
