/* Container for search bar */
.search-container {
    width: 350px;
    height: 40px;
    align-content: flex-start;
    position: fixed;
    z-index: 1000;/*Ensures search stays on top*/
}

/* Wrapper to align the input field and icon */
.search-wrapper {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: #e4d5b6 2px solid;
    border-radius: 10px;
    padding: 5px;
    position: relative;
    width: 100%;
    height: 100%;
}
/* Styling the input field */
.search-input {
    width: 100%;
    height: 100%;
    padding: 8px 10px;
    border: none;
    font-size: 16px;
    outline: none;
}

/* Styling the search button */
.search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 60%;
    transform: translateY(-50%); /* Center the icon vertically */
}

/* Adjusting the search icon by percentage*/
.search-button img {
    width: 13%;
    height: auto;
    margin-left: 250px;
}

/* Button hover effect */
.search-button:hover {
    opacity: 0.5;
}
#resultsContainer {
    width:70%;
    margin-top: 70px;
    padding: 20px;
    font-size: 1.5em;
    line-height: 1.6;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
iframe{
    width: 100%;
    height: 100%;
    border: none;
    min-height: 100vh;
}