#Title {
    font-size: 45px;
    color: #f5f5dc;
    font-weight: bold;
    text-shadow:
            -2px -2px 0 #96501DFF, 1px -1px 0 #96501DFF,
            -1px  1px 0 #96501DFF, 2px  2px 0 #96501DFF;
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 0;
}

#Author{
    font-size: 20px;
    color: #96501DFF;
    font-weight: lighter;
    text-align: left;
    margin-bottom: 1.5rem;
    font-style: italic;
}

#Description{
    font-size: 15px;
    color: #96501DFF;
    text-align: left;
    margin-bottom: 1.5rem;
}

.rightAlign {
    flex: 50%;
    text-align: left;
    margin-right: 220px;
    width: 85%;
    margin-bottom: 0;
}
.imgSize{
    width: 45%;
    height: auto;
    margin-left: 20%;
    margin-bottom: 50px;
}

button{
     display: block;
    margin-top: 1rem;
    padding: 12px 25px;
    background-color: #96501DFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #7f3f1d;

}