<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Things We Never Got Over</title>
  <link rel="stylesheet" href="../static/css/Common.css">
  <link rel="stylesheet" href="../static/css/NavigationBarStyle.css">
  <link rel="stylesheet" href="../static/css/alert.css">
  <link rel="stylesheet" href="../static/css/popupBox.css">
  <link rel="stylesheet" href="../static/css/Buttons.css">
  <link rel="stylesheet" href="../static/css/BooksDescriptions.css">
  <link rel="icon" href="../static/images/icon.png">
  <script src="https://kit.fontawesome.com/f5a1817204.js" crossorigin="anonymous"></script>
  <script src="../static/js/Books.js"></script>
  <script src="../static/js/borrow_book.js"></script></head>

<body class="bodySecond" data-book-title="Things We Never Got Over">

<div id="navbar" class="side_Nav"></div>
<script src="../static/js/navigation.js"></script>

<div class="container">
  <img src="../static/images/things-we-never-get-over.jpg" alt="Book Cover" class="imgSize" >
</div>

<!--Book Details-->
<div class="rightAlign">
  <div style="margin-left: -50px" id="alertContainer" class="custom-alert"></div>
  <h3 id="Title"></h3>
  <h3 id="Author"></h3>
  <h3 id="Description"></h3>
  <button class="button-dark" id="borrow_button">Borrow Book</button>
</div>

<!-- Confirmation Popup -->
<div id="confirmPopup" class="popup-overlay hidden">
  <div class="popup-box">
    <p id="confirmMessage">Are you sure you want to borrow?</p>
    <div class="popup-buttons">
      <button id="confirmCancel">Cancel</button>
      <button id="confirmYes">Yes</button>
    </div>
  </div>
</div>

<script src="../static/js/alert.js"></script>
<script src="../static/js/popBox.js"></script>
</body>