{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/Common.css' %}">
    <link rel="stylesheet" href="{% static 'css/Buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/darkMode.css' %}">
    <link rel="icon" href="{% static 'images/icon.png' %}">

    <style>
        .custom-alert {
            display: block;
            margin-top: 12px;
            padding: 10px;
            font-size: 20px;
            color: rgba(245, 245, 220, 0.9);
            letter-spacing: 1px;
            font-weight: bold;
        }
    </style>

</head>
<body class="ForgotPassword">
    <!-- Dark Mode Toggle Button -->
    <button class="dark-mode-toggle" title="Switch to Dark Mode">
        <i class="fas fa-moon"></i>
    </button>

    <div id="box">
        <h1>Forgot Password</h1><br>
        <form id="forgotForm">
            {% csrf_token %}
            <p>Email</p>
            <input type="email" id="forgotEmail" placeholder="xxxx@gmail.com" required><br><br>
            <input type="submit" class="button-light" value="Reset Password">
        </form>

        <div id="alertContainer" class="custom-alert"></div>
    </div>

    <script src="https://kit.fontawesome.com/f5a1817204.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/Forgot.js' %}"></script>
    <script src="{% static 'js/darkMode.js' %}"></script>
</body>
</html>
