<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borrowed Books</title>

    {% load static %}

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/Common.css' %}">
    <link rel="stylesheet" href="{% static 'css/results.css' %}">
    <link rel="stylesheet" href="{% static 'css/popupBox.css' %}">
    <link rel="stylesheet" href="{% static 'css/NavigationBarStyle.css' %}">
    <link rel="icon" href="{% static 'images/icon.png' %}">

    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/f5a1817204.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/viewborrowed.js' %}"></script>
    <script src="{% static 'js/borrow_book.js' %}"></script>
    <script src="{% static 'js/Books.js' %}"></script>
</head>
<body>

<!-- Navigation Bar -->
<div id="navbar" class="side_Nav"></div>
<script src="{% static 'js/navigation.js' %}"></script>

<!-- Borrowed Books Container -->
<div id="box">
    <div class="results-header">
        <h1>Your Borrowed Books</h1>
    </div>

    <div class="book-results-container" id="borrowedbooks">
        <!-- display only the books borrowed -->
        {% for book in borrowed_books %}
        <div class="book-item">
            <img src="{{ book.image.url }}" alt="{{ book.title }}" class="book-image">
            <div class="book-info">
                <h3>{{ book.title }}</h3>
                <p>Author: {{ book.author }}</p>
                <p>Category: {{ book.category }}</p>
            </div>
        </div>
        {% empty %}
        <p>You have not borrowed any books yet.</p>
        {% endfor %}
    </div>
</div>


<script src="{% static 'js/popBox.js' %}"></script>

</body>
</html>
