<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LINDLY</title>
    <link rel="stylesheet" href="../static/css/Common.css">
    <link rel="stylesheet" href="../static/css/Buttons.css">
    <link rel="icon" href="../static/images/icon.png">
    <script src="https://kit.fontawesome.com/f5a1817204.js" crossorigin="anonymous"></script>
</head>

<body class="bodySecond">
    <div class="container">
        <img src="../static/images/lindly.png" alt = "logo" class = "logo">
        <h2>Welcome!</h2>
        <h3>Discover a world of books, from classics to bestsellers. <br>Read, explore, and enjoy anytime, anywhere!</h3>
        <br>
        <input type="submit" class="button-dark" value="Sign Up" onclick="window.location.href = '/signup/'">
        <input type="submit" class="button-dark" value="Sign In" onclick="window.location.href = '/signin/'">

        <div class="quote">
            <i class="fas fa-quote-left"></i>
            <p>A reader lives a thousand lives before he dies.</p>
            <p class="author">- George R.R. Martin</p>
        </div>
    </div>

    <img src="../static/images/bookswbg.png" class="imgAlign">

</body>
</html>